body{
  padding:0px;

}

	h1{
  font-size:1.05em;
}

h2 { font-size: 0.1em; }

h1,h2,h3,h4,h5,h6,p {
 line-height: 1.25;
}
  
  
  
 @font-face {
  font-family: 'Chivo';
  font-style: normal;
  font-weight: 400;
  src: local('Chivo'), local('Chivo-Regular'), url(http://themes.googleusercontent.com/static/fonts/chivo/v5/GhipLm6QPHeaA8ybMizMsKCWcynf_cDxXwCLxiixG1c.woff) format('woff');
}
  
  
  
body {
  	font-family: 'Chivo', sans-serif;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-size: 16px;
		



}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

div.centre
{
	display: block;
	margin-left: auto;
	margin-right: auto;
  
}

div.centre1
{
	width: 120px;
	display: block;
	margin-left: auto;
	margin-right: auto;
  
}

#ceobooks{
	float:left;
	max-height::52%;
	position:fixed;
	left:3%;
	position:fixed;

}


#ceologo{
	width:12.4%;
	height:13.8%;
	margin-top:4%;
	margin-left:14%;
	position:fixed;
}

#ceoposter{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#ceoinfo{	
	float:right;
	height:52%;
	right:3%;
	position:fixed;

}

#textposter{	
	
	height:52%;
	left:46.2%;
	position:fixed;

}
